/*
COLORS:

Light green: #7ed56f
Medium green: #55c57a
Dark green: #28b485

*/

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Lato", sans-serif;
  font-weight: 400;
  font-size: 16px;
  /* this below looks good will use it */
  line-height: 1.7;
  color: #777;
  /* padding: 10px; */
}
.header {
  height: 95vh; /* 95 % of the view port height*/
  background-image: linear-gradient(
      to right bottom,
      rgba(126, 213, 111, 0.6),
      rgba(40, 180, 131, 0.6)
    ),
    url("../img/hero.jpg"); /*we can add multiple backgrounds and gradients on this image property*/
  background-size: cover;
  background-position: top; /* specifies how the image will be cropped with decreasing viewport*/
  clip-path: polygon(0 0, 100% 0, 100% 75%, 0 100%);
  position: relative;
}
.logo-box {
  position: absolute;
  top: 40px;
  left: 40px;
}
.logo {
  height: 35px;
}
/* .logo:hover{ //we can use the animation as many times as we like
  animation-name: moveInLeft;
  animation-duration: 2s;
} */

.text-box {
  position: absolute;
  top: 50%;
  left: 50%;
  background-image: red;
  transform: translate(-40%, -50%);
}
.heading-primary {
  color: white;
  text-transform: uppercase;
  backface-visibility: hidden;
}
.heading-primary-main {
  display: block;
  font-size: 60px;
  font-weight: 400;
  letter-spacing: 35px;
  animation-name: moveInLeft;
  animation-duration: 2s;
  /* animation-delay: 3s; we can delay the animation  */
  /* animation-iteration-count: 2;Defines the number of animation counts */
  animation-timing-function: ease-in; /*Accelerates or decelerates an animation */
}
.heading-primary-sub {
  display: block;
  font-size: 20px;
  font-weight: 400;
  letter-spacing: 17.4px;
  animation-name: moveInRight;
  animation-duration: 2s;
}
@keyframes moveInLeft {
  0% {
    opacity: 0;
    transform: translateX(-100px);
  }
  80% {
    transform: translateX(5px);
  }
  100% {
    opacity: 1;
    transform: translate(0);
  }
}
@keyframes moveInRight {
  0% {
    opacity: 0;
    transform: translateX(100px);
  }
  80% {
    transform: translateX(-5px);
  }
  100% {
    opacity: 1;
    transform: translate(0);
  }
}
